@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
html,
body {
	margin: 0;
	padding: 0;
	font-size: 10px;
	font-family: "Press Start 2P", cursive;
	background-color: #023c47;
	color: #00eef2;
	overflow-x: hidden;
}

/* Botones */
.boton-accion {
	box-shadow: 0.4em 0.5em 0.8em 0.1em #1564ad;
	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color: #79bbff;
	border-radius: 0.5em;
	border: 0.1em solid #337bc4;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 1.7em;
	font-weight: bold;
	padding: 1.2em 4.4em;
	text-decoration: none;
}
.boton-accion:hover {
	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color: #378de5;
}
.boton-accion:active {
	position: relative;
	top: 0.1em;
}

.boton-inicio {
	background-color: #44c767;
	border-radius: 2.8em;
	border: 0.1em solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 1.7em;
	padding: 1.6em 3.1em;
	text-decoration: none;
	text-shadow: 0em 0.1em 0em #2f6627;
}
.boton-inicio:hover {
	background-color: #5cbf2a;
}
.boton-inicio:active {
	position: relative;
	top: 0.1em;
}

/* Movimientos */
#moves-container,
#button-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: auto;
}

#moves-container {
	width: 100%;
}

.movimientos {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline;
}

/* Juego principal */
canvas {
	display: block;
}

#mainScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

/* Contenedor Derrota */
#derrota {
	height: 0px;
	visibility: hidden;
}

#mainScreen,
#controles-container {
	background-color: #020916;
	padding: 5em;
}

/* Header */
header,
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0em;
	margin: 0em;
	height: 15em;
	text-align: center;
}

#titulo {
	font-size: 2em;
}

footer a {
	color: #00eef2;
	text-decoration: none;
	font-size: 3em;
	margin: auto;
}

#pantalla-movimientos li {
	display: inline;
	margin: 0.2em;
	font-size: 2em;
}

#informacion {
	display: flex;
	flex-direction: row;
	width: 70%;
	height: 2em;
	justify-content: space-between;
	font-size: 2em;
}
